@font-face {
	font-family: 'codropsicons';	font-weight: normal;	font-style: normal;	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

#Shylock a {
	text-decoration: none;
	color: #868383;
	outline: none;
}

#Shylock a:hover,#Shylock a:focus {
	color: #79c1e3;
}
#Shylock .menu {
	line-height: 1;
}

#Shylock.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	box-shadow: inset 0 0 1px 0 #777777;
	border-radius: 5px;
}

#Shylock.section:nth-of-type(odd) {
	color: #fff;
}

#Shylock.section--menu {
	position: relative;
	overflow: hidden;
	min-height: 50px;
	padding: 5px 15px;
	transition: padding .6s;
}

#Shylock .menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

#Shylock .menu__item {
	display: block;
	margin: 0;
}

#Shylock .menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#Shylock .menu__link:hover,#Shylock .menu__link:focus {
	outline: none;
}

/* Shylock (by @benhanks040888) */
.menu--shylock .menu__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #b5b5b5;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	transition: margin 0.6s;
}

.menu--shylock .menu__item--current .menu__link,.menu--shylock .menu__item--current .menu__link:hover,.menu--shylock .menu__item--current .menu__link:focus {
	color: #2098d1;
}

.menu--shylock .menu__item--current .menu__link::after,.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link:hover,.menu--shylock .menu__link:focus {
	color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link::before,.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
	background: #b5b5b5;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
	background: #2098d1;
}

/* @media screen and (max-width:55em) {
	.menu__list {
		display: block;
		margin: 0 auto;
	}
} */
@media screen and (min-width: 510px) and (max-width: 768px) {
	#Shylock .menu__link {
		font-size: .9em;
		transition: .6s ease;
	}
	.menu--shylock .menu__link{
		margin: 0 0.25em;
		transition: margin .6s ease;
	}
	#Shylock.section--menu{
		padding: 5px .5vw;
		transition: padding .6s ease;
	}
}

@media screen and (max-width: 510px) {
	#Shylock .menu__link {
		font-size: .6em;
		transition: .6s ease;
	}
	.menu--shylock .menu__link{
		margin: 0 0.1em;
		transition: margin .6s ease;
	}
	#Shylock.section--menu{
		padding: 5px .1vw;
		transition: padding .6s ease;
	}
}
